{
  "awsAccessKeyId": "REPLACEME",
  "awsSecretAccessKey": "REPLACEME",
  "connectionString": "postgres://user:pass@dbhost:5439/dbname",
  "destinationTable": "gravity_changes",
  "stagingTable": "s3_loads"
}
